*{
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}

.navbar{
    height: 90px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly  ;
}
.navlogo{
    height: 50px;
    width: 100px;

}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box2 on nav */

.addfirst{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.addsecond{
     font-size: 1rem;
     margin-left: 3px;

}
.addicon{
    display: flex;
    align-items: center;
}

/* box2 on nav */
.navsearch{
     display: flex;
     justify-content: space-evenly;
     background-color: rgb(203, 150, 52);
     width: 620px ;
     height:40px ;
     border-radius: 4px;
}

.searchselect{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;   
}

.searchinput{
    width: 100%;
    font-size:1rem ;
    border: none;  
}

.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navsearch:hover{
border: 2px solid #febd68;
}

/* box 4 */

span{
    font-size: 0.7rem;

}

.navsecond{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */

.navcart i{
    font-size: 30px ;
}

.navcart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* panell */



.panel{
height: 40px;
background-color: #222f3d;
display: flex;
color: white;
align-items: center;
justify-content: space-evenly;

}

.paneloptions p{
   display: inline; 
   margin-left:15px ;
}

.paneloptions{
   width: 70%;
   font-size: 0.85rem; 
}

.paneldeals{
    font-size: 0.9rem;
    font-weight: 700 ;
}

/* herosection */

.herosection{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.heromessage{
    background-color: white;
    color: black;
    height: 30px;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 25px;
}

.heromessage a{
    color: #007185;
}

/* shopsection */
.shopsection{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px ;
}
.box1img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem ;

}
.boxcontain{
    margin-left: 1rem;
    margin-right: 1rem;
}

.boxcontain p{
    color:#007185;
}

.border1:hover{
    border: 1.5px solid black;
}

/* footer */


footer{
    margin-top: 15px;
}
.footpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}

.footpanel2{
    background-color: #222f3d;
    color: white;
    height:300px ;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd; 
}

.footpanel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    
}

.footpanel4{
    background-color:#0f1111 ;
    color: white;
    height: 80px;
    /* display: flex; */
    font-size: 0.7rem;
    text-align: center;
    
}

.pages{
   
   padding-top: 25px;
   /* text-align: center; */
}

.copyright{
    padding-top: 5px;
    /* text-align: center; */
    
}